@import url("./assets/css/fonts.css");
@import url("./assets/css/typography.css");
@import url("./assets/css/buttons.css");
@import url("./assets/css/inputs.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Firefox */
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: light;
  }
}

/* Chrome */
@media (forced-colors: active) {
  :root {
    color-scheme: light;
  }
}

:root {
  --primary: "text-primary";
  color-scheme: only light;
}

@layer base {
  * {
    @apply m-0 p-0 box-border font-inter;
  }

  /* Remove defualt reveal icon for password input fields from Edge */
  input[type="password"]::-ms-reveal,
  input[type="password"]::-ms-clear {
    display: none;
  }

  img {
    @apply inline-block;
  }
}

@layer components {
  .modal {
    @apply bg-transparent fixed top-0 left-0 h-screen w-screen z-10 pt-[88px] pb-[20px] px-[20px];
    @apply flex items-center justify-center;
  }

  .modal .modal-backdrop {
    @apply absolute top-0 h-full w-full;
    background-color: rgba(52, 64, 84, 0.6);
    backdrop-filter: blur(8px);
    z-index: -1;
  }

  .modal .modal-container {
    @apply bg-white w-[440px] border-2 border-gray-50 rounded-[8px] m-auto;
    box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
  }

  .modal .modal-container .modal-body {
    @apply p-[20px] border-b-2 border-gray-50;
  }

  .modal .modal-container .modal-body .modal-heading {
    @apply prod-m-h2 font-semibold text-gray-900 mb-[8px];
  }

  .modal .modal-container .modal-body .modal-content {
    @apply prod-p2 font-medium text-gray-700;
  }

  .modal .modal-container .modal-actions {
    @apply p-[20px] border-t-2 border-gray-50 flex justify-end items-center;
    @apply flex-col-reverse sm:flex-row w-full;
  }

  .modal .modal-container .modal-actions button {
    @apply w-full sm:w-fit;
  }

  .leaflet-container {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
  }

  .snackbar-wrapper {
    min-width: fit-content;
    /* width: 100% !important; */
    max-width: 330px;
    top: 80px !important;
  }

  .snackbar-wrapper .Toastify__close-button {
    position: absolute;
    z-index: 10;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
  }

  .snackbar-wrapper .Toastify__close-button > svg {
    height: 24px;
    width: 24px;
  }

  .snackbar-wrapper .Toastify__toast {
    overflow: unset;
    padding: 0;
    background-color: transparent;
    min-height: unset;
  }

  .snackbar-wrapper .Toastify__toast .Toastify__toast-body {
    overflow: unset;
    padding: 0;
    margin: 0;
  }

  @media only screen and (max-width: 480px) {
    .snackbar-wrapper {
      width: 100vw;
      max-width: 100vw;
      padding: 0 16px !important;
      left: 50% !important;
      transform: translateX(-50%) !important;
    }

    .snackbar-wrapper .Toastify__toast {
      margin-bottom: 1rem;
    }
  }

  .snackbar-wrapper .close-icon {
    @apply hover:!stroke-white cursor-pointer;
    position: absolute;
    z-index: 10;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
  }

  .snackbar-wrapper .close-icon.close-icon-lg {
    @apply h-[28px] w-[28px];
  }
  .snackbar-wrapper .close-icon.close-icon-md {
    @apply h-[24px] w-[24px];
  }
  .snackbar-wrapper .close-icon.close-icon-sm {
    @apply h-[20px] w-[20px];
  }

  .snackbar-wrapper .close-icon.close-primary {
    @apply stroke-primary-100;
  }

  .snackbar-wrapper .close-icon.close-secondary {
    @apply stroke-gray-100;
  }

  .snackbar-wrapper .close-icon.close-success {
    @apply stroke-success-100;
  }

  .snackbar-wrapper .close-icon.close-warning {
    @apply stroke-warning-100;
  }

  .snackbar-wrapper .close-icon.close-destructive {
    @apply stroke-destructive-100;
  }

  .snackbar {
    @apply ps-[20px] pe-[50px] py-[16px] rounded-[8px];
    @apply flex items-center;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25),
      0px 15px 35px -5px rgba(17, 24, 38, 0.5),
      0px 0px 0px 0.5px rgba(255, 255, 255, 0.4);
  }

  .snackbar-lg .icon {
    @apply h-[28px] w-[28px] me-[10px] flex-shrink-0;
  }

  .snackbar-md .icon {
    @apply h-[24px] w-[24px] me-[10px] flex-shrink-0;
  }

  .snackbar-sm .icon {
    @apply h-[20px] w-[20px] me-[10px] flex-shrink-0;
  }

  .snackbar-lg .message {
    @apply prod-l1 font-medium;
  }

  .snackbar-md .message {
    @apply prod-l2 font-medium;
  }

  .snackbar-sm .message {
    @apply prod-l3 font-medium;
  }

  .snackbar.snackbar-primary {
    @apply bg-[#103856] text-primary-100;
  }

  .snackbar.snackbar-secondary {
    @apply bg-gray-800 text-gray-100;
  }

  .snackbar.snackbar-success {
    @apply bg-[#155118] text-success-100;
  }

  .snackbar.snackbar-warning {
    @apply bg-[#58480E] text-warning-100;
  }

  .snackbar.snackbar-destructive {
    @apply bg-[#561010] text-destructive-100;
  }
  .snackbar.snackbar-primary .icon {
    @apply fill-primary-100;
  }

  .snackbar.snackbar-secondary .icon {
    @apply fill-gray-100;
  }

  .snackbar.snackbar-success .icon {
    @apply fill-success-100;
  }

  .snackbar.snackbar-warning .icon {
    @apply fill-warning-100;
  }

  .snackbar.snackbar-destructive .icon {
    @apply fill-destructive-100;
  }
}
