MONGO_URI="mongodb+srv://denissejoy:uLZAAkKmszKIw6ue@cluster0.btaelwa.mongodb.net/"
DB_NAME="healthph-plus"

CLIENT_URL="http://localhost:5173"
CORS_ORIGINS="*"

ACCESS_TOKEN_EXPIRE_MINUTES=30
ALGORITHM="HS256"
FORGOT_PWD_SECRET_KEY="285d77036512ff88f8e37184cc207467803d6b5c27fc5c20e2a893e5a2bdf184"
SECRET_KEY="285d77036512ff88f8e37184cc207467803d6b5c27fc5c20e2a893e5a2bdf184"

SMTP_SERVER="smtp.gmail.com"
SMTP_PORT="587"
SMTP_USERNAME="healthphproject@gmail.com"
SMTP_PASSWORD="bhxkgoybdtwigxya"
SMTP_SENDER_EMAIL="healthph@national-u.edu.ph"

TIMEDELTA_DAYS=999